body{
  background-color: #121212;
  color: white;
  margin: 0;
}
.app-container{
  max-width: 600%;
  margin: 40px auto;
}

h1{
  text-align: center;
  color: #1db954;
  margin-bottom: 30px;
}
.workout-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
}
.input-field{
  padding: 12px;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #333;
  font-size: 1rem;
}
.submit-btn{
  background-color: #1db954;
  color: #121212;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.map-btn{
  background-color: #1db954;
  color: #121212;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.error-message{
  background-color: red;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.auth-container {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center;    /* Centers items horizontally */
  justify-content: center;
  margin-top: 10vh;       /* Pushes the whole block down slightly */
}

.auth-input {
  display: flex;
  padding: 12px;
  border-radius: 6px;
  margin: 5px;
  background-color: #2a2a2a;
  color: white;
  border: none;
  font-size: 1rem;
  flex-direction: column;
  gap: 15px;
}

.auth-btn{
  margin: 3px;
  background-color: #1db954;
  color: #121212;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #444;
}

.profile-header p {
  margin: 0;
  color: #ccc;
  font-size: 0.95rem;
}

.profile-header strong {
  color: #1db954;
}

.logout-btn {
  background-color: #e53935;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background-color: #c62828;
}